extends ../layouts/default

include ../mixins/static-intro
include ../mixins/subscribe

block intro
	+static-intro("Contact Us")
	
block head
	script(src='https://www.google.com/recaptcha/api.js?render=6LfIEooUAAAAAJLRJ5_chihbhTpomBrqYG3QZBeV')
block js
	script.
		grecaptcha.ready(function() {
			grecaptcha.execute('6LfIEooUAAAAAJLRJ5_chihbhTpomBrqYG3QZBeV', {action: 'action_name'})
			.then(function(token) {
				console.log(token)
				$('#captcha-token').val(token)
			});
		});
		
		
block content
	.container.contact
		.row: .col-sm-8.col-md-5.col-centered
			+subscribe
	.container.contact
		if enquirySubmitted
			.row: .col-sm-8.col-md-5.col-centered
				h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-5.col-centered
				form(method='post')
					h2 Contact us
					input(type='hidden', name='action', value='contact')
					input(type='hidden', name='token', id='captcha-token')
					input(type='hidden', name='honey', value='')
					.form-group(class= validationErrors.honey ? 'has-error' : null, style= validationErrors.honey ? 'display: block;' : 'display: none;')
					.form-group(class= validationErrors.link ? 'has-error' : null, style= validationErrors.link ? 'display: block;' : 'display: none;')
					.form-group(class= validationErrors.name ? 'has-error' : null)
						label Name
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class= validationErrors.email ? 'has-error' : null)
						label Email
						input(type='email', name='email', value=formData.email).form-control
					.form-group
						label Phone
						input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label Message
						textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary Send
				br
				br

